* {
  box-sizing: border-box;
  font-family: "vazir";
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #da291c;
  position: relative;
}

@font-face {
  font-family: "vazir";
  src: url("./fonts/Vazir-Variable.eot");
  src: url("./fonts/Vazir-Variable.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Variable.woff2") format("woff2"), url("./fonts/Vazir-Variable.woff") format("woff"),
    url("./fonts/Vazir-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "vazir-number";
  src: url("./fonts/Vazir-Regular-FD.woff") format("woff");
  src: url("./fonts/Vazir-Regular-FD.eot") format("embedded-opentype"),
    url("./fonts/Vazir-Regular-FD.woff2") format("woff2"), url("./fonts/Vazir-Variable.woff") format("woff"),
    url("./fonts/Vazir-Regular-FD.woff2") format("truetype");
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu {
  height: 40rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
}

.menu > .h3 {
  font-weight: bold;
}

.menu > .menu-boxes {
  overflow: auto;
  height: 33rem;
}

.content-box {
  height: 6rem;
  background-color: white;
}

.content-box > .product-img {
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
}

.content-box > div {
  width: 70%;
}

.content-box > div > .product-title {
  font-weight: bold;
}

.operations > .negative,
.operations > .positive {
  background-color: #9e1010;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.operations > .count {
  background-color: #f0f8ff;
  width: 2rem;
  height: 1.25rem;
}

.digits {
  font-family: "vazir-number";
}

.bill {
  min-height: 20rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
}

.discount-code > .check {
  background-color: #9e1010;
  padding: 0.5rem;
  width: 2.25rem;
  cursor: pointer;
}

.discount-code > input {
  border: none;
  outline: none;
  direction: rtl;
}

.bill > .total-cost {
  background-color: #ffc72c;
}

.total-cost span,
.total-cost div {
  font-weight: bold;
}

.bill > .payment {
  background-color: #9e1010;
  border: none;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

#modal {
  background-color: #f0f8ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: +10;
  border-radius: 1rem;
}

#modal.show {
  animation: showModal 0.5s forwards;
}

#modal.close {
  animation: closeModal 0.5s forwards;
}

@keyframes showModal {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  95% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes closeModal {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  5% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.okButton {
  width: 5rem;
  border: none;
  outline: none;
  background-color: #9e1010;
}
